# GNU General Public License v3.0+ (see LICENSES/GPL-3.0-or-later.txt or
# https://www.gnu.org/licenses/gpl-3.0.txt)
# SPDX-License-Identifier: GPL-3.0-or-later
# SPDX-FileCopyrightText: 2025, Ansible Project
---
version: 3
images:
  base_image:
    name: {{ base_image }}
dependencies:
  ansible_core:
    package_pip: {{ ansible_core }}
  ansible_runner:
    package_pip: {{ ansible_runner }}
  galaxy: requirements.yml
{%- if python_interpreter %}
  python_interpreter:
{%- if python_interpreter.package_system %}
    package_system: "{{ python_interpreter.package_system }}"
{%- endif %}
{%- if python_interpreter.python_path %}
    python_path: "{{ python_interpreter.python_path }}"
{%- endif %}
{%- endif %}
additional_build_files:
  - src: collection/{{ collection_filename }}
    dest: src
additional_build_steps:
  prepend_base:
    - {{ pre_base }}
